apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: dev
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: phyoeieithu/car-frontend:v1.1
        ports:
        - containerPort: 80
        env:
        - name: VITE_API_BASE_URL
          value: http://backend.local/api
